* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}


.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
  margin: 10px;
}


.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 10%;
  width: 10%;
  /* background-color:blue; */
}


.ships-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.ind-ship-wrapper {
  align-items: center;
  display: flex;
  height: 10px;
  width: 60px;
  justify-content: center;
  margin: 10px;
}

.ship {
  background-color: pink;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.ship div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 30px;
  width: 30px;
}

.selected {
  background-color: yellow;
}

.placedShip {
  background-color: pink;
}